.vertical-scroll-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
   height: 100vh;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

.vertical-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.image-wrapper {
  cursor: pointer;
  border: none; /* remove default border */
  transition: transform 0.2s ease-in-out;
 
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  background: #f9f9f9;  
 
  display: block;
}

.image-wrapper.active img {
  
  outline-offset: 2px;
  transform: scale(1.05); /* subtle zoom on active */
}

.video-thumbnail-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
