.container {
  max-width: 1200px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.heading {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  width: 260px;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #c2185b;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.info {
  padding: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
    display: -webkit-box;       /* Needed for line clamping */
  -webkit-line-clamp: 3;      /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}
@media (max-width: 768px) {

  .grid {
    justify-content: space-between; /* prevent big gaps */
  }

  .card {
    width: calc(50% - 0.75rem); /* 2 cards per row with gap */
  }
}