.orderCard {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.orderCard:hover {
  transform: translateY(-3px);
}

.orderCard img {
  border-radius: 5px;
}

.headerOrder{
  margin-top: 80px;
  display: flex;
  margin-bottom: 10px;
}
.myoders{
  font-size: 30px;
}

@media (max-width: 576px) {
  .orderCard {
    font-size: 0.9rem;
  }

  .headerOrder{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.myoders{
  font-size: 20px;
}

}
