/* Center slider dots over the slider */
.slick-dots {
  bottom: 20px; /* adjust vertical position */
  display: flex !important;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slick-dots li button:before {
  font-size: 10px; /* dot size */
  color: #000; /* dot color */
}

.slick-dots li.slick-active button:before {
  color: #ff6347; /* active dot color */
}
