
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.ProductDetailContainer{
   padding: 40px; 
   height: 90vh;

}

.vericalImage{
  display:flex;
  height: 100%;

}

.productDetailImg{
  width: 100%;
  height: 100%;
  object-fit: contain;   /* no crop, full image */
  object-position: center;
  background: #f8f8f8;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.productContentBox {
  overflow-y: scroll;
  height: 100%;

  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.customerHeading{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  
}

.productContentBox::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
.detailProductTitle{
    font-size: 30px;
    font-weight: 650;
     font-family: "Inter", sans-serif;
}
.detailProductDiscreaption{
    font-size: 13px;
     font-family: "Inter", sans-serif;
}
.detailPrize{
   font-family: "Inter", sans-serif;  
   font-size: 15px;
   font-weight: 700;
}
.detailMRP{
    font-size: 12px;
    margin-top: 5px;
    color: #bdbdbd;
}
.detailSizeText{
  display: flex;
  font-weight: 700;
   font-family: "Inter", sans-serif;  
}
.detailSizeGuideText{
  margin-left: 10px;
  background-color: #f0f0f0;
  font-size: 13px;
  padding: 5px 15px;
  margin-top: -3px;
  border-radius: 100px;
  color: #3d3d3d;
  font-family: "Inter", sans-serif;  

}

.detailMadeToOrderText{
  font-weight: 700;
  font-family: "Inter", sans-serif; 
  margin-top: 10px;
}
.detailShip{
  font-size: 13px;
  margin-top: 5px;
  color: #777;
}

.container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 15px 0;
}
.size-selector {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* wraps on small screens */
}

.sizeButton {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-button:hover,
.active {
  background-color: #000;
  color: #fff;
}


.detailAddCartButton{
  width: 48%;
  padding: 10px;
  font-family: "Inter", sans-serif;
  background-color: transparent; 
  border: 2px solid #000;
  font-weight: 500;
}

.detailBuyButton{
  width: 48%;
   padding: 10px;
   font-family: "Inter", sans-serif; 
   background-color:#000; 
   color: #fff;
     font-weight: 500;
}

.detailProductInfo{
   font-family: "Inter", sans-serif; 
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
    
}

.productDetailHeading {
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif; 
 
}

@media (max-width: 768px) {
.ProductDetailContainer{
   padding: 10px; 
   height: 100%;

}


.vericalImage{
  display: none;
}

}