@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.footer {
  background-color: #0f0f0f;
  color: #ddd;
  padding: 40px 20px 20px;
  width: 100%;
   font-family: "Inter", sans-serif;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-brand {
  flex: 1 1 300px;
}

.footer-brand h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-brand p {
  color: #bbb;
  font-size: 0.95rem;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  flex: 2 1 600px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-links h4 {
  margin-bottom: 12px;
  font-size: 1.1rem;
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
  color: #bbb;
  cursor: pointer;
  transition: color 0.3s;
}
.footer-links ul li {
  margin-bottom: 8px;
  color: #bbb;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-links ul li .link {
  margin-bottom: 8px;
  color: #bbb;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-links ul li:hover {
  color: #00bcd4;
}


.social-icons a {
  margin-right: 12px;
  font-size: 18px;
  color: #bbb;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00bcd4;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #222;
  padding-top: 20px;
  font-size: 0.85rem;
  color: #888;
  margin-top: 30px;
}
