
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nata+Sans:wght@100..900&display=swap');

*{
 font-family: "DM Sans", sans-serif;

}

h6{
  font-family: "DM Sans", sans-serif;
}

.parent {
  transform: translateZ(0); /* or any transform */
}